.banner {
    background: url(../img/home_banner.jpg) center no-repeat;
    background-size: cover;
    height: 920px;
    position: relative;
    margin-bottom: 155px;

    &-link {
        display: block;

        &-wrapper {
            position: absolute;
            bottom: 120px;
            right: 16%;
        }
    }
}

@media screen and (max-width: 1200px){
    .banner {
        
        height: 500px;
        margin-bottom: 80px;

        &-link {
            &-wrapper {
                bottom: 60px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .banner {
        background: $grey05;
        height: 250px;

        &-link {
           font-size: 12px;
           padding: 10px 15px;
        }
    }
}

@media screen and (max-width: 375px) {
    .banner {
        &-link {
            &-wrapper {
                right: 5%;
            }
        }
    }
}