.lookbook {
    margin-bottom: 145px;

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        padding: 45px 1.5% 0 1%;
        justify-content: space-between;
        background:$grey05;
        width: 32%;
        position: relative;
    }

    &-image {
        display: block;

        &-wrapper {
            align-self: flex-end;
        }
    }

    &-content {
        width: 45%;
        text-align: right;
    }

    &-title {
        @include text-styles (30px, 300, $grey04);
        
        text-transform: uppercase;
        padding-top: 55px;

        &-decoration {
            font-weight: 700;
            display: block;
        }
    }

    &-description {
        @include text-styles(15px, 400, $grey02);

        font-family: 'Roboto', sans-serif;
        margin: 30px 0;
    }

    &-link {
        &-wrapper {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width:1200px) {
    .lookbook {
        margin-bottom: 100px;
        &-title {
            font-size: 24px;
        }

        &-link {
            font-size: 10px;
        }

        &-description {
            font-size: 12px;
        }

        &-item {
            padding-top: 15px;
        }
    }
}

@media screen and (max-width: 767px) {
    .lookbook {
        &-list {
            flex-wrap: wrap;
        }
    }
}