/** UTILS **/
/*** COLORS ***/
/*** FONT ***/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
/** GENERAL **/
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, input, button, body {
  margin: 0;
  padding: 0;
  border: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

img {
  width: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  position: relative;
}

.blue-font_colour {
  color: #00AAEF;
}

.font-style-bold {
  font-weight: bold;
}

.title {
  border-bottom: 2px solid #00AAEF;
  padding-bottom: 11px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 22px;
  height: 20px;
  background: #FFFFFF url(../img/headline-icon.png) no-repeat center;
  background-size: contain;
  border: 5px solid #FFFFFF;
  border-radius: 50px;
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.title-wrapper {
  font-size: 48px;
  font-weight: 300;
  color: #000000;
}

/** COMPONENTS **/
.footer {
  height: 540px;
  background: url(../img/footer-bg.jpg) no-repeat;
  background-size: cover;
}

.footer .container {
  height: 100%;
}

.footer .logo-wrapper {
  top: 50%;
}

.footer .copyright {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.footer .copyright {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/** PAGES **/
.about {
  background: #FFFFFF;
  padding: 130px 0 160px 0;
}

.about .container::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

.about-resume {
  width: 31.91489%;
  text-transform: uppercase;
  line-height: 60px;
  float: left;
}

.about-resume {
  font-size: 48px;
  font-weight: 300;
  color: #000000;
}

.about-description-wrapper {
  width: 57.97872%;
  float: right;
  line-height: 26px;
}

.about-description-wrapper {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.about-description-list {
  margin: 35px 0 45px 0;
  padding: 0;
  padding: 0 125px 0 0;
  line-height: 18px;
}

.about-description-item {
  list-style: decimal;
  margin-bottom: 5px;
}

.consultation {
  padding: 145px 0;
}

.consultation::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

.consultation-content {
  width: 48.93617%;
  float: left;
}

.consultation-content-title {
  padding: 0 135px 35px 0;
}

.consultation-content-title {
  font-size: 32px;
  font-weight: 400;
  color: #000000;
}

.consultation-content-description {
  line-height: 24px;
}

.consultation-content-description {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.consultation-form-wrapper {
  width: 40.42553%;
  float: right;
}

.consultation-input {
  width: 100%;
  height: 50px;
  background: #EEEEEE;
  padding: 20px;
  margin-bottom: 10px;
}

.consultation-input {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.consultation-input::placeholder {
  text-transform: uppercase;
  text-align: center;
}

.consultation-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.consultation-input:focus::placeholder {
  color: transparent;
}

.consultation-submit-button {
  background: #00AAEF;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.consultation-submit-button {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.contact {
  padding: 145px 0;
}

.contact::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
}

.contact-content {
  width: 48.93617%;
  float: left;
}

.contact-link, .contact-address, .contact-tels {
  line-height: 22px;
}

.contact-link, .contact-address, .contact-tels {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.contact-link {
  cursor: pointer;
}

.contact-tels {
  margin: 40px 0;
}

.contact-address {
  display: block;
}

.contact-form-wrapper {
  width: 40.42553%;
  float: right;
}

.contact-input, .contact-textarea {
  width: 100%;
  height: 50px;
  background: #EEEEEE;
  padding: 20px;
  margin-bottom: 10px;
  resize: none;
}

.contact-input, .contact-textarea {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.contact-input::placeholder, .contact-textarea::placeholder {
  text-transform: uppercase;
  text-align: center;
}

.contact-input::placeholder, .contact-textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.contact-input:focus::placeholder, .contact-textarea:focus::placeholder {
  color: transparent;
}

.contact-textarea {
  height: 165px;
  border: none;
}

.contact-submit-button {
  background: #00AAEF;
  text-transform: uppercase;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}

.contact-submit-button {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.gallery {
  background: #EEEEEE;
}

.gallery .title::after {
  border: 5px solid #EEEEEE;
  background-color: #EEEEEE;
}

.gallery-list {
  font-size: 0;
  padding: 115px 0 35px 0;
}

.gallery-item + .gallery-item {
  margin-top: 30px;
}

.gallery-image-wide {
  width: 66%;
  display: inline-block;
}

.gallery-image-narrow {
  width: 32%;
  display: inline-block;
}

.gallery-image-middle {
  width: 49%;
  display: inline-block;
}

.gallery-image-first {
  margin-right: 2%;
}

.gallery-title {
  margin-top: 15px;
}

.gallery-title {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.gallery-title-link {
  color: #00AAEF;
}

.gallery-view-link {
  text-transform: uppercase;
  padding: 20px 60px;
  background: #00AAEF;
  margin: auto;
  cursor: pointer;
  display: inline-block;
}

.gallery-view-link {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.gallery-view-link-wrapper {
  text-align: center;
  padding-bottom: 110px;
}

.testimonials {
  background: #EEEEEE;
}

.testimonials .title::after {
  border: 5px solid #EEEEEE;
  background-color: #EEEEEE;
}

.testimonials-list {
  padding: 110px 0 105px 0;
}

.testimonials-list {
  text-align: justify;
}

.testimonials-list::after {
  content: '';
  display: inline-block;
  width: 100%;
  font-size: 0;
}

.testimonials-item {
  display: inline-block;
  vertical-align: top;
  width: 29.78723%;
  text-align: center;
  margin: 0 10px;
}

.testimonials-image {
  border-radius: 50%;
}

.testimonials-image-wrapper {
  width: 145px;
  margin: 0 auto;
  position: relative;
}

.testimonials-image-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 60px;
  z-index: 1;
  width: 35px;
  height: 35px;
  background: url(../img/testimonials-icon.png) no-repeat;
}

.testimonials-name {
  margin: 10px 0;
}

.testimonials-name {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.testimonials-position {
  font-style: italic;
  margin-bottom: 35px;
  line-height: 14px;
}

.testimonials-position {
  font-size: 16px;
  font-weight: 400;
  color: #696973;
}

.testimonials-description {
  line-height: 22px;
}

.testimonials-description {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
