.location {
    @include clearfix;

    background: $grey05;

    &-map {
        width: 67.5%;
        float: left;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
    }

    &-info {
        width: 30.5%;
        float: right;
        padding: 45px 3.5% 45px 0;

        &-list {
            @include text-styles(14px, 300, $grey09);

            margin: 25px 0 50px 0;
        }

        &-item {
            margin-bottom: 15px;
        }
    }

    &-social {
        &-list {
            font-size: 0;
        }

        &-item {
            display: inline-block;
            background: $grey02;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: relative;

            &:hover {
                background: $blue01;
            }

            & + & {
                margin-left: 15px;
            }
        }

        &-link {
            font-size: 16px;
            color: $white01;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}