.portfolio {
    text-align: center;
    background: $white;
    padding-bottom: 25px;
    
    &-menu {
        display: flex;
        justify-content: center;

        &-item {
            background: $green;
            :hover {
                background: $darkgreen;
            }
        }

        &-item + &-item {
            margin-left: 15px;
        }

        &-link {
            @include text-styles(13px, 700, $white);
            text-transform: uppercase;
            display: inline-block;
            padding: 15px 12px;
        }

        &-wrapper {
            padding: 35px 0 45px 0;
        }
    }
}

.gallery {
    &-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        &-item {
            display: inline-block;
            width: 200px;
            margin-bottom: 35px;
            :hover {
                filter: grayscale(100%);
            }
        }   
        
        &-item + &-item {
            margin-left: 1%;
        }
    }
}

@media screen and (max-width: 450px) {
    .portfolio {
        &-menu {
            flex-direction: column;
            align-items: center;

            &-item {
                width: 150px;
            }

            &-item + &-item {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }
}