// $site_width: 1170px;
$site_width: 1780px; 
/*** COLORS ***/
$black01: #222222;
$black03: #333333;

$blue01: #00C8C8;
$grey01: #6C6769;
$grey02: #727272;
$grey03: #989898;
$grey04: #575153;
$grey05: #F8F8F8;
$grey06: #EEEEEE;
$grey07: #777777;
$grey08: #A5A3A3;
$grey09: #8E8C8C;
$grey10: #9A9A9A;
$grey11: #E7E7E7;
$grey12: #737373;

$green01: #00C8C8;

$red01: #BB5465;
$white01: #FFFFFF;
$white02: #FCF6F7;

/*** FONT ***/
