@charset "UTF-8";
/** UTILS **/
/*** COLORS ***/
/*** FONT ***/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@font-face {
  font-family: "Icons";
  src: url("../fonts/Icons.eot");
  src: url("../fonts/Icons.eot?#iefix") format("eot"), url("../fonts/Icons.woff2") format("woff2"), url("../fonts/Icons.woff") format("woff"), url("../fonts/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons") format("svg");
}

.icon-facebook-f-brands:before, .icon-heart:before, .icon-instagram:before, .icon-link:before, .icon-location:before, .icon-mail:before, .icon-pinterest:before, .icon-search:before, .icon-shopping-cart-black-shape:before, .icon-tel:before, .icon-time:before, .icon-twitter-brands:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-facebook-f-brands:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-shopping-cart-black-shape:before {
  content: "";
}

.icon-tel:before {
  content: "";
}

.icon-time:before {
  content: "";
}

.icon-twitter-brands:before {
  content: "";
}

/** GENERAL **/
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, li, input, button, body {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

input:focus {
  outline: none;
}

.main {
  font-family: 'Montserrat', sans-serif;
}

.main-link, .main-button {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  text-transform: uppercase;
  border: 1px solid #727272;
  padding: 20px 30px;
  background: #FFFFFF;
  display: inline-block;
}

.main-link:hover, .main-button:hover {
  background: #00C8C8;
  color: #FFFFFF;
  border: 1px solid #00C8C8;
}

.main-input {
  font-size: 15px;
  font-weight: 300;
  color: #222222;
  border: 1px solid #EEEEEE;
  background: #FFFFFF;
  padding: 12px 10px;
  width: 100%;
  margin-top: 35px;
}

.main-input::placeholder {
  color: #989898;
}

.main-input:focus {
  border: 1px solid #00C8C8;
  background: #FCF6F7;
}

.main-select {
  font-size: 13px;
  font-weight: 300;
  color: #989898;
  border: 1px solid #E7E7E7;
  background: #FFFFFF;
  padding: 15px 10px;
  border-radius: 0;
}

.main-banner {
  background: url(../img/banner.jpg) center no-repeat;
  background-size: cover;
  height: 450px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner-content {
  text-align: center;
}

.main-banner-title {
  font-size: 48px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.main-banner-title-decoration {
  font-weight: 700;
}

.main-banner-description {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.currency {
  font-size: 0.5em;
}

.icon-shopping-cart-black-shape,
.icon-heart,
.icon-location,
.icon-tel,
.icon-mail,
.icon-link,
.icon-time {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .main-banner {
    display: none;
  }
}

/** COMPONENTS **/
.header {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px 50px;
}

.header-home {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-search-form {
  position: relative;
}

.header-search-input {
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  border: 1px solid #989898;
  width: 190px;
  padding: 10px 35px 10px 10px;
  background: #F8F8F8;
}

.header-search-input::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #989898;
}

.header-search-submit {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 20px;
  transform: translate(-50%, -50%);
  background: #F8F8F8;
  color: #989898;
}

@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .header-addition {
    margin-top: 45px;
  }
  .header-inner {
    align-self: flex-end;
    flex-direction: column-reverse;
    margin-top: -70px;
  }
  .header-search {
    align-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: row-reverse;
  }
  .header-inner {
    margin-top: -40px;
    align-items: flex-start;
  }
}

.logo-link {
  font-size: 24px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.logo-bold {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: 5%;
  }
  .logo-link {
    font-size: 28px;
  }
}

.nav {
  margin-right: 80px;
}

.nav-list {
  font-size: 0;
}

.nav-item {
  display: inline-block;
}

.nav-item + .nav-item {
  margin-left: 55px;
}

.nav-link {
  font-size: 13px;
  font-weight: 400;
  color: #6C6769;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #00C8C8;
}

@media screen and (max-width: 1200px) {
  .nav {
    margin-right: 0;
    margin-top: 10px;
  }
  .nav-item + .nav-item {
    margin-left: 35px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    padding-left: 10px;
  }
  .nav-item {
    display: block;
    padding: 10px 0;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.footer {
  background: #F8F8F8;
}

.footer-inner {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  padding: 0 15%;
}

.footer-information {
  display: flex;
  padding: 65px 0 50px 0;
}

.footer-information-block {
  width: 20%;
}

.footer-information-title {
  font-size: 13px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-information-item {
  margin: 10px 0;
}

.footer-information-link {
  font-size: 14px;
  font-weight: 300;
  color: #727272;
}

.footer-information-link:hover {
  color: #00C8C8;
}

.footer-information-details {
  font-size: 14px;
  font-weight: 300;
  color: #727272;
}

.footer-public {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 55px;
}

.footer-public-award {
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
  padding: 60px 0;
  width: 48.5%;
  background: #333333;
  text-transform: uppercase;
}

.footer-public-award-decoration {
  font-weight: 700;
  display: block;
}

.footer-public-social {
  width: 48.5%;
  background: #00C8C8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-public-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-public-social-item + .footer-public-social-item {
  margin-left: 55px;
}

.footer-public-social-link {
  color: #FFFFFF;
  font-size: 38px;
}

.footer-copyright {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  padding: 15px 15%;
}

.footer-copyright::after {
  content: "";
  display: block;
  clear: both;
}

.footer-copyright-wrapper {
  background: #333333;
}

.footer-copyright-content {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
}

.footer-copyright-trademark {
  float: left;
}

.footer-copyright-produced_by {
  float: right;
}

@media screen and (max-width: 1200px) {
  .footer-information {
    padding: 30px 0;
  }
  .footer-information-title {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .footer-information-link, .footer-information-details {
    font-size: 11px;
  }
  .footer-information-item {
    margin: 5px 0;
  }
  .footer-public {
    margin-bottom: 45px;
  }
  .footer-public-award {
    font-size: 30px;
    padding: 50px 0;
  }
  .footer-public-social-item + .footer-public-social-item {
    margin-left: 45px;
  }
  .footer-public-social-link {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer-public {
    flex-wrap: wrap;
  }
  .footer-public-award {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-public-social {
    width: 100%;
    padding: 15px;
  }
  .footer-information {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  .footer-information-block {
    width: 90%;
  }
  .footer-information-item {
    display: none;
  }
  .footer-information-title {
    font-size: 14px;
  }
  .footer-copyright-produced_by {
    float: left;
  }
}

@media screen and (max-width: 375px) {
  .footer-information-title {
    font-size: 10px;
  }
  .footer-public-award {
    font-size: 22px;
    padding: 25px 0;
  }
  .footer-public-social-item + .footer-public-social-item {
    margin-left: 35px;
  }
  .footer-public-social-link {
    font-size: 22px;
  }
}

/** PAGES **/
.banner {
  background: url(../img/home_banner.jpg) center no-repeat;
  background-size: cover;
  height: 920px;
  position: relative;
  margin-bottom: 155px;
}

.banner-link {
  display: block;
}

.banner-link-wrapper {
  position: absolute;
  bottom: 120px;
  right: 16%;
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 500px;
    margin-bottom: 80px;
  }
  .banner-link-wrapper {
    bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    background: #F8F8F8;
    height: 250px;
  }
  .banner-link {
    font-size: 12px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 375px) {
  .banner-link-wrapper {
    right: 5%;
  }
}

.products {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  justify-content: space-between;
}

.products-price {
  font-size: 21px;
  font-weight: 300;
  color: #9A9A9A;
  position: absolute;
  top: 15px;
  left: 15px;
}

.products-item:hover .products-info {
  visibility: visible;
}

.products-link {
  display: block;
}

.products-link:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.products-info {
  visibility: hidden;
  text-align: center;
  padding: 20px 13%;
  border-top: 1px solid #EEEEEE;
}

.products-image {
  width: 100%;
  height: 100%;
}

.products-image-wrapper {
  max-height: 500px;
  position: relative;
}

.products-title {
  font-size: 13px;
  font-weight: 400;
  color: #727272;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.products-description {
  font-size: 15px;
  font-weight: 400;
  color: #989898;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

@media screen and (max-width: 1200px) {
  .products {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .products {
    margin-bottom: 5px;
  }
  .products-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .products-info {
    display: none;
  }
  .products-item {
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
  }
}

.lookbook {
  margin-bottom: 145px;
}

.lookbook-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lookbook-item {
  display: flex;
  padding: 45px 1%;
  justify-content: space-between;
  background: #F8F8F8;
  max-width: 600px;
  min-width: 300px;
  position: relative;
}

.lookbook-image {
  display: block;
}

.lookbook-image-wrapper {
  align-self: flex-end;
}

.lookbook-content {
  width: 45%;
  text-align: right;
}

.lookbook-title {
  font-size: 30px;
  font-weight: 300;
  color: #575153;
  text-transform: uppercase;
  padding-top: 55px;
}

.lookbook-title-decoration {
  font-weight: 700;
  display: block;
}

.lookbook-description {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
}

.lookbook-link-wrapper {
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .lookbook {
    margin-bottom: 80px;
  }
  .lookbook-title {
    font-size: 24px;
  }
  .lookbook-link {
    font-size: 12px;
  }
  .lookbook-description {
    font-size: 16px;
  }
  .lookbook-item {
    padding-top: 15px;
  }
}

@media screen and (max-width: 375px) {
  .lookbook {
    margin-bottom: 0;
  }
}

.stores {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  padding: 10px 15% 60px 15%;
}

.stores-title {
  font-size: 18px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.stores-description {
  font-size: 15px;
  font-weight: 400;
  color: #8E8C8C;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

.stores-address {
  font-size: 13px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}

.stores-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stores-item {
  font-size: 15px;
  font-weight: 400;
  color: #8E8C8C;
  width: 30%;
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

.stores-link {
  display: inline-block;
}

.stores-link-wrapper {
  margin-top: 35px;
}

@media screen and (max-width: 767px) {
  .stores {
    padding-bottom: 0;
  }
  .stores-item {
    width: 90%;
    max-width: 350px;
  }
}

.location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #F8F8F8;
}

.location-map {
  width: 60%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}

.location-info {
  width: 30%;
  padding: 0 3.5% 45px 0;
}

.location-info-list {
  font-size: 14px;
  font-weight: 300;
  color: #8E8C8C;
  margin: 25px 0 50px 0;
}

.location-info-item {
  margin-bottom: 15px;
}

.location-social-list {
  font-size: 0;
}

.location-social-item {
  display: inline-block;
  background: #727272;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.location-social-item:hover {
  background: #00C8C8;
}

.location-social-item + .location-social-item {
  margin-left: 15px;
}

.location-social-link {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .location-map {
    width: 90%;
    margin: 50px 0;
  }
  .location-info {
    width: 60%;
  }
  .location-social-list {
    text-align: center;
  }
}

.product {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  padding: 60px 15%;
}

.product-banner-list {
  font-size: 0;
}

.product-banner-item {
  display: inline-block;
}

.product-banner-link {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.product-banner-link:hover {
  color: #00C8C8;
}

.product-banner-separator {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  display: inline-block;
  margin: 0 10px;
}

.product-image {
  width: 100%;
}

.product-image-wrapper {
  width: 45%;
}

.product-details {
  width: 45%;
}

.product-details-list {
  font-size: 15px;
  font-weight: 400;
  color: #989898;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-title {
  font-size: 18px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
}

.product-price {
  font-size: 30px;
  font-weight: 300;
  color: #9A9A9A;
  margin: 5px 0 35px 0;
}

.product-price-last {
  text-decoration: line-through;
  margin-right: 20px;
  display: inline-block;
}

.product-attribute {
  margin-bottom: 12px;
}

.product-attribute-title {
  font-size: 14px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
}

.product-attribute-value {
  font-size: 15px;
  font-weight: 400;
  color: #8E8C8C;
  font-family: 'Roboto', sans-serif;
}

.product-attribute-link {
  font-size: 15px;
  font-weight: 400;
  color: #00C8C8;
  font-family: 'Roboto', sans-serif;
}

.product-button {
  color: #333333;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 45px;
}

.product-button-add_to_cart, .product-button-add_to_wishlist {
  border: 2px solid #737373;
  width: 245px;
  margin-bottom: 15px;
}

.product-button-add_to_cart:hover, .product-button-add_to_wishlist:hover {
  background: #333333;
  border: 2px solid #333333;
}

.product-button-add_to_cart {
  margin-bottom: 15px;
  margin-right: 15px;
}

.product-description {
  font-size: 15px;
  font-weight: 400;
  color: #989898;
  font-family: 'Roboto', sans-serif;
  margin: 30px 0 10px 0;
  line-height: 22px;
}

.product-parameter {
  width: 28%;
}

.product-parameter-title {
  font-size: 13px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

.product-parameter-input {
  width: 40px;
  margin-top: 0;
  padding: 15px 5px;
  text-align: center;
}

.product-parameter-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-parameter-color, .product-parameter-size {
  width: 100%;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.product-additional-info {
  padding: 40px 0 200px 0;
}

.product-additional-info-title {
  font-size: 13px;
  font-weight: 400;
  color: #727272;
  text-transform: uppercase;
  margin: 35px 0 20px 0;
}

.product-additional-info-description {
  font-size: 15px;
  font-weight: 400;
  color: #989898;
  font-family: 'Roboto', sans-serif;
}

.product-additional-info-description + .product-additional-info-description {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .product {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .product-image-wrapper {
    width: 65%;
    margin-bottom: 30px;
  }
  .product-info {
    justify-content: center;
  }
  .product-details {
    width: 75%;
  }
  .product-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .product-image-wrapper {
    width: 90%;
  }
  .product-title {
    font-size: 18px;
  }
  .product-details {
    width: 90%;
  }
}

.sign_up {
  margin: 0 auto;
  max-width: 1780px;
  width: 100%;
  padding: 105px 15% 80px 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign_up-form-title {
  font-size: 18px;
  font-weight: 400;
  color: #575153;
  text-transform: uppercase;
}

.sign_up-form-register, .sign_up-form-log_in {
  width: 45%;
  min-width: 250px;
}

.sign_up-forgot-link {
  font-size: 15px;
  font-weight: 400;
  color: #A5A3A3;
  display: block;
  padding-top: 20px;
  padding-bottom: 50px;
}

.sign_up-forgot-link:hover {
  color: #00C8C8;
}

.sign_up-submit {
  vertical-align: middle;
}

.sign_up-control {
  margin-top: 30px;
}

.register-subscribe {
  margin-top: 35px;
}

.register-label {
  font-size: 15px;
  font-weight: 400;
  color: #A5A3A3;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.register-label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #EEEEEE;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.register-label::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #00C8C8;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

input.register-checkbox:checked ~ .register-label::after {
  visibility: visible;
}

.register-submit {
  margin-top: 30px;
}

.register-checkbox {
  display: none;
}

@media screen and (max-width: 767px) {
  .sign_up-form-register, .sign_up-form-log_in {
    width: 90%;
    min-width: 250px;
    text-align: center;
  }
}
