.product {
    @include site_width($site_width);

    padding: 60px 15%;

    &-banner {
        &-list {
            font-size: 0;
        }

        &-item {
            display: inline-block;
        }

        &-link {
            @include text-styles(30px, 400, $white01);

            &:hover {
                color: $blue01;
            }
        }

        &-separator {
            @include text-styles(30px, 400, $white01);

            display: inline-block;
            margin: 0 10px;
        }
    }

    &-image {
        width: 100%;
        min-height: 710px;
        &-wrapper {
            float: left;
            width: 48.7%;
        }
    }

    &-details {
        float: right;
        width: 48.7%;

        &-list {
            @include text-styles(15px, 400, $grey03);

            font-family: 'Roboto', sans-serif;
            line-height: 22px;
        }
    }

    &-info {
        @include clearfix;
    }

    &-title {
        @include text-styles(18px, 400, $grey04);

        text-transform: uppercase;
    }

    &-price {
        @include text-styles(30px, 300, $grey10);

        margin: 5px 0 35px 0;

        &-last {
            text-decoration: line-through;
            margin-right: 20px;
            display: inline-block;
        }
    }

    &-attribute {
        margin-bottom: 12px;
        &-title {
            @include text-styles(14px, 400, $grey04);

            text-transform: uppercase;
        }

        &-value {
            @include text-styles(15px, 400, $grey09);

            font-family: 'Roboto', sans-serif;
        }

        &-link {
            @include text-styles(15px, 400, $blue01);

            font-family: 'Roboto', sans-serif;
        }
    }

    &-button {
        @include clearfix;
        color: $black03;

        width: 100%;
        margin-top: 45px;

        &-add_to_cart,
        &-add_to_wishlist {
            border: 2px solid $grey12;

            &:hover {
                background: $black03;
                border: 2px solid $black03;
            }
        }

        &-add_to_cart {
            float: left;
            width: 245px;
        }

        &-add_to_wishlist {
            float: right;
            width: 300px;
        }
    }

    &-description {
        @include text-styles(15px, 400, $grey03);

        font-family: 'Roboto', sans-serif;
        margin: 30px 0 10px 0;
        line-height: 22px;
    }

    &-parameter {
        width: 28%;

        &-title {
            @include text-styles(13px, 400, $grey04);

            text-transform: uppercase;
            display: block;
            margin-bottom: 15px;
        }

        &-input {
            width: 40px;
            margin-top: 0;
            padding: 15px 5px;
            text-align: center;
        }

        &-wrapper {
           display: flex;
           justify-content: space-between;
           width: 100%;
        }

        &-color,
        &-size {
            width: 100%;
        }
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
    }

    &-additional-info {
        padding: 40px 0 200px 0;

        &-title {
            @include text-styles(13px, 400, $grey02);

            text-transform: uppercase;
            margin: 35px 0 20px 0;
        }
        
        &-description {
            @include text-styles(15px, 400, $grey03);

            font-family: 'Roboto', sans-serif;

            & + & {
                margin-top: 30px;
            }
        }
    }
}
