@mixin clearfix (){
    &::after{
     content:"";
     display: block;
     clear: both;
     width: 100%;
    }
 }

 @mixin align ($block_type, $align_type) {
    display: $block_type;
    vertical-align: $align_type;
}

@mixin first-child (){
    &:first-child{
      margin-left: 0;
    }
}

@mixin text-styles($size, $weight, $color) {
    &{
        font-size: $size;
        font-weight: $weight;
        color: $color;
    }
}
