.logo {

    &-link {
        @include text-styles(24px, 400, $black01);

        text-transform: uppercase;
    }

    &-bold {
        font-weight: 600;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        margin-right: 5%;

        &-link {
            font-size: 28px;
        }
    }
}