.header {
    @include site_width($site_width);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 50px;

    &-home {
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 0;
    }

    &-inner {
        display: flex;
        align-items: center;
    }

    &-search {
        &-form {
            position: relative;
        }

        &-input {
            @include text-styles(13px, 400, $black01);

            border: 1px solid $grey03;
            width: 190px;
            padding: 10px 35px 10px 10px;
            background: $grey05;

            &::placeholder {
                @include text-styles(13px, 300, $grey03);
            }
        }

        &-submit {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 20px;
            transform: translate(-50%, -50%);
            background: $grey05;
            color: $grey03;
        }
    }
}